#butn{
    text-align: center;
    width: 2cm;
    height: 2cm;
}
#a1,#a2,#a3,#a4,#a5,
#b1,#b2,#b3,#b4,#b5,
#c1,#c2,#c3,#c4,#c5,
#d1,#d2,#d3,#d4,#d5,
#e1,#e2,#e3,#e4,#e5{
    background-color: rgba(231, 98, 50, 0.593);
    border-radius: 3px;
    border-color: rgba(142, 214, 242, 0.662);
    color: rgb(255, 242, 0);
    width: 3cm;
    height: 2.5cm;
    font-size: x-large;
}
#boxs,#tm,#tr,#th{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
#box{
    background-color: rgba(80, 214, 255, 0.375);
    text-align: center;
}
#e6,#e7,#e8,#e9{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 1.5cm;
    height: 1.5cm;
}